<div><button mat-raised-button (click)="getData5()">Patient data5</button>
<table #table5 mat-table [dataSource]="dataArr5" class="mat-elevation-z8">
    <ng-container matColumnDef="X">
       <th mat-header-cell *matHeaderCellDef>X</th>
       <td mat-cell *matCellDef="let element"> {{element.X}} </td>
    </ng-container>
       <ng-container matColumnDef="Y">
       <th mat-header-cell *matHeaderCellDef>Y</th>
       <td mat-cell *matCellDef="let element"> {{element.Y}} </td>
    </ng-container>
    <ng-container matColumnDef="time">
       <th mat-header-cell *matHeaderCellDef>time</th>
       <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="!shown"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table></div>