<div class="matcard-div">
   <mat-card>
      <mat-card-content>
         <mat-card-title>Welcome physicians</mat-card-title>
         <br>
<img src="assets/doctor.jpg">
<br>
<br>
<h2>Patient data</h2>
<div class="table-container">
<app-table-one></app-table-one>
<app-table-two></app-table-two>
<app-table-three></app-table-three>
<app-table-four></app-table-four>
<app-table-five></app-table-five>
<app-table-six></app-table-six>
</div>
<app-spiraldrawing></app-spiraldrawing>
<br>
<h2>User activity</h2>
<div class="user-container">
   <app-patient-activity></app-patient-activity>
</div>
</mat-card-content>
</mat-card>
</div>